<h1 class="py-3 text-center">Acerca de Nosotros</h1>
<hr>
<h1 class="d-flex centered-flex">Shoe Plug MX</h1>
<section class="d-flex centered-flex">
  <div class="info">
    <h3>Creado en 2020 como un pasatiempo, Shoe Plug MX ha crecido exponencialmente, siendo que 
      se inicio vendiendo solo unos cuantos pares de sneakers de manera local, con lo que poco a poco
      nos fuimos expandiendo, hasta el punto de hacer envíos nacionales e internacionales, contando
      con una gran variedad de pares en nuestro catalogo, desde sneakers y colaboraciones nuevas
      hasta las no tan nuevas.
    </h3>
  </div>
</section>
<main>
  <section class="d-flex centered-flex">
    <div class="insta">
      <img src="/assets/images/Acercade.png" class="w-100 h-100" >
    </div>
  </section>
    
</main>